@{
    ViewData["Title"] = "All movies";
}

@model IEnumerable<RAM_APP.Models.Movie>



<main id="main" class="main">
    <h4>Manage movies</h4>

    
    <!--search button -->
    <div class="input-group mt-3">
    <input onkeypress="handleKeyPress(event)" id="searchbar"  type="text" class="form-control" placeholder="Search for movie by title or genre">
    
        <button id="searchButton" onclick="search_movies()" class="btn btn-sm btn-primary">
            <i class="bi bi-search"></i> Search
        </button>
    
    </div>
    <!-- end search button -->


    <!-- Card with an image on left -->
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-12">
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Title</th>
                                <th scope="col">Release date</th>
                                <th scope="col">@Html.DisplayNameFor(model => model.Rating)</th>
                                <th scope="col">@Html.DisplayNameFor(model => model.Price)</th>
                                <th scope="col">@Html.DisplayNameFor(model => model.Tax)</th>
                                <th scope="col">Genre</th>
                                <th scope="col">
                                    <a asp-action="Create" type="button" class="btn btn-sm btn-primary"><i class="bi bi-pencil"></i>new movie</a>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr style="font-size:2vh">
                                    <td>
                                        <a asp-action="Details" asp-route-id="@item.Mid">@Html.DisplayFor(modelItem => item.Title)</a>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ReleaseDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Rating)
                                    </td>
                                    <td>
                                        ZMW @Html.DisplayFor(modelItem => item.Price)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Tax)%
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.GenreNavigation.Name)
                                    </td>
                                    <td style="table-layout: fixed">
                                        <a asp-action="Edit" type="button" class="btn btn-sm btn-success" asp-route-id="@item.Mid"><i class="bi bi-pen"></i></a>
                                        <a asp-action="Details" type="button" class="btn btn-sm btn-info" asp-route-id="@item.Mid"><i class="bi bi-eye"></i></a>
                                        <a asp-action="Delete" type="button" class="btn btn-sm btn-danger" asp-route-id="@item.Mid"><i class="bi bi-trash"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div><!-- End Card with an image on left -->
</main><!-- End #main -->


<script>
    function handleKeyPress(event) {
        if (event.key === 'Enter') {
            search_movies();
        }
    }

    function search_movies() {
        var searchTerm = document.getElementById('searchbar').value;			
        var url = "Movie/Search/" + searchTerm;
        window.location.href = url;
    }

</script>