@model IEnumerable<RAM_APP.Models.Address>

@{
    ViewData["Title"] = "Addresses";
}


    
<main id="main" class="main">
<!-- Card with an image on left -->
          <div class="card mb-3">
            <div class="row g-0">
              <div class="col-md-12">
                <div class="card-body">
                    
                    
<h1>Addresses</h1>
<hr/>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Street)
            </th>
            <th></th>
            <th></th>
            <th><a  type="button" class="btn btn-sm btn-primary" asp-action="Create">Create New</a></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Street)
            </td>
            <td>
                <a   type="button" class="btn btn-sm btn-success" asp-action="Edit" asp-route-id="@item.Zipcode">Edit</a> 
          </td>
          <td>
            <a  type="button" class="btn btn-sm btn-primary" asp-action="Details" asp-route-id="@item.Zipcode">Details</a> 
          </td>
            <td>
                <a   type="button" class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.Zipcode">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


                  </div>
              </div>
            </div>
          </div><!-- End Card with an image on left -->
</main><!-- End #main -->


